extends template-404

block main
	.container
		.er404
			.er404__content
				.er404__left
					img(src="img/404.png", alt="")
				.er404__right
					span Страница не найдена!
					p Неправильно набран адрес, или такой страницы на сайте больше не существует.
					.btns
						a(href="/") На главную
						a(href="/") В каталог
		

