extends template

block main
	include includes/breadcumbs
	+breadcumbs
	.main-content
		.container
			.content-header
				h2 Новые скотовозы
			.row
				.content-50
					.category__item.clearfix.content-section
						.category-item__col
							img(src="img/1category.jpg", alt="")
						.category-item__col.category__info
							p.category__name Скотовозы
							p.category__item-name Pezzaioli SBA63 maialino
							p.category__desc Полуприцеп Pezzaioli SBA63 maialino для перевозки исключительно свиней, попросят с 3-мя фиксированными поверхностями загрузки (этажами) Длина 14,00м Ширина 2,55м Высота общая от земли 4,00м
							a(href="#").more Подробнее
				.content-50
					.category__item.clearfix.content-section
						.category-item__col
							img(src="img/2category.jpg", alt="")
						.category-item__col.category__info
							p.category__name Скотовозы
							p.category__item-name Pezzaioli SBA63 универсал
							p.category__desc Полуприцеп Pezzaioli модель SBA63 ФИКСИРОВАННАЯ КРЫША для перевозки специально свиней и овец (с возможностью перевозки КРС) с 3-мя поверхностями загрузки...
							a(href="#").more Подробнее
				.content-50
					.category__item.clearfix.content-section
						.category-item__col
							img(src="img/3category.jpg", alt="")
						.category-item__col.category__info
							p.category__name Скотовозы
							p.category__item-name Pezzaioli SBA63 универсал
							p.category__desc Полуприцеп Pezzaioli модель SBA63 ФИКСИРОВАННАЯ КРЫША для перевозки специально свиней и овец (с возможностью перевозки КРС) с 3-мя поверхностями загрузки...
							a(href="#").more Подробнее
				.content-50
					.category__item.clearfix.content-section
						.category-item__col
							img(src="img/4category.jpg", alt="")
						.category-item__col.category__info
							p.category__name Скотовозы
							p.category__item-name Pezzaioli SBA63 универсал
							p.category__desc Полуприцеп Pezzaioli модель SBA63 ФИКСИРОВАННАЯ КРЫША для перевозки специально свиней и овец (с возможностью перевозки КРС) с 3-мя поверхностями загрузки...
							a(href="#").more Подробнее
				.content-50
					.category__item.clearfix.content-section
						.category-item__col
							img(src="img/5category.jpg", alt="")
						.category-item__col.category__info
							p.category__name Скотовозы
							p.category__item-name Pezzaioli SBA63 универсал
							p.category__desc Полуприцеп Pezzaioli модель SBA63 ФИКСИРОВАННАЯ КРЫША для перевозки специально свиней и овец (с возможностью перевозки КРС) с 3-мя поверхностями загрузки...
							a(href="#").more Подробнее
				.content-50
					.category__item.clearfix.content-section
						.category-item__col
							img(src="img/6category.jpg", alt="")
						.category-item__col.category__info
							p.category__name Скотовозы
							p.category__item-name Pezzaioli SBA63 универсал
							p.category__desc Полуприцеп Pezzaioli модель SBA63 ФИКСИРОВАННАЯ КРЫША для перевозки специально свиней и овец (с возможностью перевозки КРС) с 3-мя поверхностями загрузки...
							a(href="#").more Подробнее
				.content-50
					.category__item.clearfix.content-section
						.category-item__col
							img(src="img/7category.jpg", alt="")
						.category-item__col.category__info
							p.category__name Скотовозы
							p.category__item-name Pezzaioli SBA63 универсал
							p.category__desc Полуприцеп Pezzaioli модель SBA63 ФИКСИРОВАННАЯ КРЫША для перевозки специально свиней и овец (с возможностью перевозки КРС) с 3-мя поверхностями загрузки...
							a(href="#").more Подробнее
				.content-50
					.category__item.clearfix.content-section
						.category-item__col
							img(src="img/8category.jpg", alt="")
						.category-item__col.category__info
							p.category__name Скотовозы
							p.category__item-name Pezzaioli SBA63 универсал
							p.category__desc Полуприцеп Pezzaioli модель SBA63 ФИКСИРОВАННАЯ КРЫША для перевозки специально свиней и овец (с возможностью перевозки КРС) с 3-мя поверхностями загрузки...
							a(href="#").more Подробнее

