extends template

block main
	include includes/breadcumbs
	+breadcumbs
	.main-content
		.container
			.content-header
				h2 Ремонт техники
			.content-left
				.content-section
					.content-row
						.nopadding: img(src="img/text1.jpg", alt="")
						.text__block
							h3 Ремонт кормовозов и скотовозов
							p Основным родам деятельности компании «Автовыбор» является поставка специальной сельскохозяйственной техники. Но помимо прочего, мы осуществляем услуги по ее ремонту. Сотрудничество с нашей компанией довольно выгодно, так как для всех клиентов у нас предусмотрены самые подходящие и оптимальные условия для осуществления покупки – мы нацелены на долгосрочное партнерство и крепкую дружбу. Если же ваша техника по каким-либо причинам не исправна, то наши мастера с удовольствием выполнят для вас ремонт скотовоза, кормовоза и прочих транспортных средств.
					.content-row
						.nopadding: img(src="img/text2.jpg", alt="")
						.text__block
							h3 Ремонт кормовозов и скотовозов
							p Основным родам деятельности компании «Автовыбор» является поставка специальной сельскохозяйственной техники. Но помимо прочего, мы осуществляем услуги по ее ремонту. Сотрудничество с нашей компанией довольно выгодно, так как для всех клиентов у нас предусмотрены самые подходящие и оптимальные условия для осуществления покупки – мы нацелены на долгосрочное партнерство и крепкую дружбу. Если же ваша техника по каким-либо причинам не исправна, то наши мастера с удовольствием выполнят для вас ремонт скотовоза, кормовоза и прочих транспортных средств.
					.content-row
						.nopadding: img(src="img/text3.jpg", alt="")
						.text__block
							h3 Ремонт кормовозов и скотовозов
							p Основным родам деятельности компании «Автовыбор» является поставка специальной сельскохозяйственной техники. Но помимо прочего, мы осуществляем услуги по ее ремонту. Сотрудничество с нашей компанией довольно выгодно, так как для всех клиентов у нас предусмотрены самые подходящие и оптимальные условия для осуществления покупки – мы нацелены на долгосрочное партнерство и крепкую дружбу. Если же ваша техника по каким-либо причинам не исправна, то наши мастера с удовольствием выполнят для вас ремонт скотовоза, кормовоза и прочих транспортных средств.
			.content-right
				include includes/content-right

