mixin breadcumbs()
	.main-breadcumbs
		.container
			ul.breadcumbs__list
				li.breadcumbs__item: a(href="#") Главная
				li.breadcumbs__item: a(href="#") Новые скотовозы
				li.breadcumbs__item.active: a(href="#") Pezzaioli SBA63 maialino

