.callback-form-right
	h3 Оставьте заявку
	p Заполните форму и наши специалисты свяжуться с вами в ближайшее время
	form(action="#")
		input(type="text" placeholder="Введите ваше имя")
		input(type="mail" placeholder="Введите ваш email")
		textarea(placeholder="Введите текст комментария")
		input(type="submit" value="Отправить")
.widget-news
	.widget-news__item
		p.time 29 февраля 2016
		p.content В адрес ООО «Белая Птица  Ростов» поставлены 4ре станции с электроприводом на базе компрессорных агрегатов Gardner Denver XK12.
		p.desc Это уже не первые станции поставленные в адрес вышеназванного холдинга...
	.widget-news__item
		p.time 29 февраля 2016
		p.content В адрес ООО «Белая Птица  Ростов» поставлены 4ре станции с электроприводом на базе компрессорных агрегатов Gardner Denver XK12.
		p.desc Это уже не первые станции поставленные в адрес вышеназванного холдинга...		