footer.main-footer
	.container
		.footer-first
			a(href="index.html").logo
				img(src="img/logo.png", alt="")
			.desc
				p © 2011-2012 Copyright компания ООО "Автовыбор" Продажа скотовозов, птицевозов, кормовозов.
				p Копирование материалов сайта возможно без предварительного согласования в случае установки активной индексируемой ссылки на наш сайт.
		
		.footer-last
			.bottom-phones
				.bottom-phone__item
					.tel
						span.red (4832) 
						span 92 17 45
					.name Отдел заказа запчастей
				.bottom-phone__item
					.tel
						span.red (4832) 
						span 92 22 54
					.name Отдел продаж
			.akiwa
				a(href="http://akiwa.ru").akiwa__desc Создание и продвижение сайтов
		.footer-menus
			.footer-menu
				.footer-menu__header Каталог
				ul
					li
						a(href="") НОВЫЕ СКОТОВОЗЫ
					li
						a(href="") НОВЫЕ КОРМОВОЗЫ
					li
						a(href="") НОВЫЕ ПТИЦЕВОЗЫ
					li
						a(href="") ДРУГАЯ ТЕХНИКА
					li
						a(href="") Б/У ТЕХНИКА
					li
						a(href="") ДИЛЕРСКАЯ СЕТЬ WABCO
					li
						a(href="") ДИЛЕРСКАЯ СЕТЬ BPW

			.footer-menu
				.footer-menu__header Каталог
				ul
					li
						a(href="") НОВЫЕ СКОТОВОЗЫ
					li
						a(href="") НОВЫЕ КОРМОВОЗЫ
					li
						a(href="") НОВЫЕ ПТИЦЕВОЗЫ
					li
						a(href="") ДРУГАЯ ТЕХНИКА
					li
						a(href="") Б/У ТЕХНИКА
					li
						a(href="") ДИЛЕРСКАЯ СЕТЬ WABCO
					li
						a(href="") ДИЛЕРСКАЯ СЕТЬ BPW
				ul
					li
						a(href="") ДИЛЕРСКАЯ СЕТЬ BPW
					li
						a(href="") РЕМОНТ
					li
						a(href="") НОВОСТИ
					li
						a(href="") КОНТАКТЫ

