header.main-header
	.main-header__top
		.container
			.top-menu
				ul.menu
					li
						span.ico
						a(href="") Главная
					li
						span.ico
						a(href="") Контакты
					li
						span.ico
						a(href="") Карта сайта
					li
						span.ico
						a(href="") Скачать реквизиты
					li
						span.ico
						a(href="") Новости
			.top-time#time
				span.day
				span.day-num
				span.day-month
				span.day-year
	.main-header__center
		.container
			a(href="index.html").logo
				img(src="img/logo.png", alt="")
				.logo__text Продажа спецтехники для перевозки скота, птиц, кормов
			.top-phones
				.top-phone__item
					.tel
						span.red (4832) 
						span 92 17 45
					.name Отдел заказа запчастей
				.top-phone__item
					.tel
						span.red (4832) 
						span 92 22 54
					.name Отдел продаж
	.main-menu
		.container
			a(href="").catalog-button 
				span.ico
				span Каталог
			.menu__wrap.clearifx
				ul.menu
					li.main-menu__item: a(href="#") PEZZAIOLI   
					li.main-menu__item: a(href="#") GARDNER DENVER   
					li.main-menu__item: a(href="#") MENCI     
					li.main-menu__item: a(href="#") ПРАЙС ЛИСТ     
					li.main-menu__item: a(href="#") ЛИЗИНГ     
					li.main-menu__item: a(href="#") СЕРВИС     
					li.main-menu__item: a(href="#") ДИЛЕРСКАЯ СЕТЬ WABCO     
					li.main-menu__item: a(href="#") ДИЛЕРСКАЯ СЕТЬ BPW     
					li.main-menu__item: a(href="#") РЕМОНТ
